#jinja2: lstrip_blocks: True
<?xml version="1.0"?>
<yandex>

    {% for setting in clickhouse_docker_config %}
    <{{ setting }} replace="1">{{ clickhouse_docker_config[setting] }}</{{ setting }}>
    {% endfor %}

    <resharding replace="1">
        {% for item in clickhouse_docker_config_resharding %}
        <task_queue_path>{{ item }}</task_queue_path>
        {% endfor %}
    </resharding>

    <distributed_ddl replace="1">
        {% for item in clickhouse_docker_config_distributed_ddl %}
        <path>{{ item }}</path>
        {% endfor %}
    </distributed_ddl>

</yandex>
