<?xml version="1.0"?>
<yandex>

    <listen_host replace="1">{{ clickhouse_docker_listen_host }}</listen_host>
    <http_port replace="1">{{ clickhouse_docker_http_port }}</http_port>
    <tcp_port replace="1">{{ clickhouse_docker_tcp_port }}</tcp_port>

    <resharding replace="1">
        <task_queue_path>/clickhouse/task_queue</task_queue_path>
    </resharding>

    <distributed_ddl replace="1">
        <path>/clickhouse/task_queue/ddl</path>
    </distributed_ddl>

</yandex>
