#jinja2: lstrip_blocks: True
<?xml version="1.0"?>
<yandex>

{% if clickhouse_docker_zookeeper_hosts is defined and clickhouse_docker_zookeeper_hosts != None %}
<zookeeper replace="1">

    {% for zookeeper_host in clickhouse_docker_zookeeper_hosts %}
        <node index="{{ zookeeper_host.index }}">
            <host>{{ zookeeper_host.ip }}</host>
            <port>{{ zookeeper_host.port }}</port>
        </node>
    {% endfor %}

</zookeeper>
{% endif %}
</yandex>
