<?xml version="1.0"?>
<yandex>

<zookeeper replace="1">

    {% for item in clickhouse_zookeeper_hosts %}
        <node index="{{ item.index }}">
            <host>{{ item.ip }}</host>
            <port>{{ clickhouse_zookeeper_port }}</port>
        </node>
    {% endfor %}

</zookeeper>

</yandex>
